:root {
    /* Adicionando variáveis */
    --tom-1: #042036;
    --tom-2: #920530;
    --tom-3: #FFFFFF;

    --fonte-titulo: 'Playfair Display', serif;
    --fonte-texto: 'Arimo', sans-serif;
    --fonte-cursiva: 'Homemade Apple', cursive;

}

body {
    width: 100%;
    margin: 0;
    background-color: var(--tom-1);
}

.escondido{
    top: -96px;
}